  <form action="/guides" method="post">
    <div class="field">
      <label for="guide[title]">Title</label>
      <input type="text" name="guide[title]" id="guide_title">
    </div>  
    <div class="field">
      <label for="guide_content">Content</label>
      <textarea row="5" cols="60" name="guide[content]" id="guide_content">
      </textarea>
    </div>
    <div class="field">
       <input type="submit"> 
    </div>    
    
    
  </form>