<div class="app-card-container2">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-5">
        <%= image_tag "profile.JPG", width: 320, height: 400, alt: "profile image", class: 'profile-img' %>
        
          <div class="collapse skills margin" id="progressbar">
            <% @skills.each do |skill| %>
            <br>
              <h4 class="position"><%= skill.titlestring %></h4>
                <div class="skill">
                  <div class="progress">
                    <div
                      class="progress-bar progress-bar-info active"
                      role="progressbar"
                      aria-valuenow="<%= skill.utilized %>" 
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: <%= skill.utilized %>%; height: 7px"
                    ></div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>        

      

      <div class="col-md-7 position">
        <p> lkjsdddddddddjflskjflkjslfjlaskdjflowieuriwoeuroweiruw   oeruwosdfksjfkjsdfkjsdkfjskfjdklfjslfkjlsjfo  wieurowwjkflkwejflsdjflksdjflskjf   lskjflskdjf wieurworuiwie
        skjflsjflskdjflskj    flsdjflsdjflsjflsjflsjflsfjlsjljiiiii
        lkjdslfkjsdlfkjsljflskdjflsdjfldsjflkdsjflskj  fsklfjs
        lkjslfkjsldjkfiowuerowurowefsdfksvnnsdvx   mcvnxmvnsdjffff
        jljdfkjowieruowieuwoeriuwoeruoweiuroweiurow  eiuroweiur.</p>
        <p>
          <button
            class="button2"
            type="button"
            data-toggle="collapse"
            data-parent="#accordion"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="button2"
            type="button"
            data-toggle="collapse"
            data-parent="#accordion"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
          <button
            class="button2"
            type="button"
            data-toggle="collapse"
            data-parent="#accordion"
            data-target="#progressbar"
            aria-expanded="false"
            aria-controler="progressbar"
            >
              Progress Bar
          </button>
        </p>

        <p>
          <div class="panel-collapse collapse in" id="jobHistory">
            <h4>Jobs</h4>
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
          </div>

          <div class="panel-collapse collapse" id="education">
            <h4>Education</h4>
            <div class="card card-block">
              school
            </div>
            <div class="card card-block">
              Providence Hall
            </div>
            <div class="card card-block">
              Skyridge High School
            </div>
          </div>
        </p>
      </div>  
    </div>
  </div>
</div>

