<h1>Contact Me</h1>

<hr>
<div class="row">
  <div class="col-md-6">
    <h3>Address</h3>
    <p>3000 N Center St, Lehi, UT 84043</p>
    <h3>Phone Number:</h3> 
    <p><%= number_to_phone "8017680576" %></p>
    <h3>Email</h3>
    <p><a href="mailto:sakura3san@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>
  <div class ="col-md-5">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.223450
      578748!2d-111.85008434880031!3d40.42605076289475!2m3!1f0!2f0!3f0!3m2!1i1024!2
      i768!4f13.1!3m3!1m2!1s0x874d8005b0e3ece1%3A0x7313bac406ac37dc!2sSkyridge+High+
        School!5e0!3m2!1sen!2sus!4v1500311516394" 
          width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

  </div>
</div>