
    <div class="inner cover">
        <h1 class="cover-heading">Learning New Code</h1>
            <p class="lead"> Through the code to success program, I am learning.</p>
            <p class="lead">
              <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary"  %>  
            </p>
    </div>

   