<div class="card">
  <div class="card-block">
    <h2>Update Permissions</h2>
    
    
    <form action="<%= root_path %>" method="post">
      Admin Password:<br>
      <input type="password" name="passcode" autocomplete="off"><br><br>
      <input type="submit" value="Submit" class="btn btn-primary" >
    </form>
    
    <div class="auth-links">
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>